.join{
    h1{
        font-size: 20px;
        background: #333333;
        padding: 20px;
        text-align: center;
        color: #fff;
        font-weight: 500;
    }

    &_form{
        margin: 0 auto;
        width: 100%;
        padding: 0 20px 50px 20px;
        max-width: 375px;

        .title{
            font-size: 18px;
            color: #222;
            padding: 25px 0;
        }

        .required{
            font-size: 12px;
            color: #ef6600;
            padding-bottom: 10px;
            border-bottom: 1px solid #eee;
        }

        .row{
            margin-top:30px;
        }

        .gender_wrap{
            margin-top: 30px;
        }

        .radio_wrap{
            margin-top: 10px;
            border-radius: 5px;
            overflow: hidden;

            &:after{
                content: '';
                display: block;
                clear: both;
            }

            label{
                float:left;
                width: 50%;
                height: 40px;
                line-height: 40px;
                text-align: center;
                background-color: #bbb;
                color:#fff;
                transition: background-color .3s ease-in-out;
            }

            input[type=radio]:checked + label{
                background-color: #1890ff;
            }
        }
        .certification{
            position: relative;

            .text_wrap{
                padding-right: 100px;

            }

            .btn-wrap{
                position: absolute;
                right: 0;
                bottom: 0;
                width: 90px;
                margin: 0;

                button{
                    height: 40px;
                    line-height: 40px;
                    font-size:14px;
                    background-color: #1890ff;

                    &.completed{
                        background-color: #333;
                    }
                }
            }
        }
        .select_wrap{
            margin-top: 10px;
            padding:5px 7px 5px 14px;
            border: 1px solid #999;
            border-radius: 5px;

            select{
                width: 100%;
                height:28px;
                border: none;
                color:#222;
            }
        }
        .birthday_wrap{
            &:after{
                content: '';
                display: block;
                clear: both;
            }

            span{
                display: block;
            }

            .select_wrap{
                float:left;
                width:32%;

                & + .select_wrap{
                    margin-left:2%;
                }
            }
        }

        .agree_wrap{
            position: relative;
            margin-top:30px;

            .agree_txt{
                display: inline-block;
                line-height: 22px;
            }

            .check-box_wrap{
                display: inline-block;
                vertical-align: middle;
                position: relative;
                width: 44px;
                height: 22px;
                margin-left:10px;

                label{
                    position: absolute;
                    width: 44px;
                    height: 22px;
                    background-color: #bbb;
                    left:0;
                    border-radius: 50px;
                    transition: background-color .3s ease-in-out;

                    &:after{
                        content: '';
                        display: block;
                        position: absolute;
                        left:2px;
                        top:2px;
                        width:18px;
                        height:18px;
                        background-color: #fff;
                        border-radius: 50%;
                        transition: left .3s ease-in-out;
                    }
                }

                input[type=checkbox]:checked + label{
                    background-color: #1890ff;
                    &:after{
                        left:24px;
                    }
                }
            }
        }

        .btn-wrap{
            margin-top: 40px;
        }

        .btn{
            width: 48%;
            height: 50px;
            line-height: 50px;
            background: #333;
            border: none;
            font-size: 16px;
            color: #fff;
            border-radius: 5px;

            & ~ .btn{
                margin-left: 4%;
            }

            &.btn-back{
                background-color: #bbb;
            }
        }
    }
}